@import "bower_components/components-font-awesome/css/font-awesome";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/rdash-ui/dist/css/rdash";


body.auth {
    padding-top: 100px;
}

.progress-container {
    position: relative;
    height: 120px;
}

.progress-outter {
    position: absolute;
    right: 10px;
    top: 0px;
}

.progress-inner {
    position: absolute;
    right: 32px;
    top: 22px;
}

.shadow:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

a.dropdown-toggle {
    display: block;
    width: 30px;
    cursor: pointer;
    text-align: center;
    color: #000000;
}

a.dropdown-toggle:hover {
    color: #337ab7;
}

.inline-form-submit {
    padding-top: 24px;
}

.backlogsAddForm {
}

.no-show {
    display: none;
}
