@import "bower_components/components-font-awesome/css/font-awesome";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/rdash-ui/dist/css/rdash";

@import "resources/assets/sass/elements.scss";


body.auth {
    padding-top: 100px;
}


.progress-container {
    position: relative;
    height: 100px;
}

.progress-outter {
    position: absolute;
    right: 10px;
    top: 0px;
}

.progress-inner {
    position: absolute;
    right: 32px;
    top: 22px;
}
